name: Build and publish a Docker image to ghcr.io

on:
  release:
    types: [published]
  push:
    branches: [main]

jobs:
  build-and-push-image:
    name: Publish Docker image to registry
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest-large]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build & Push Docker image for ${{ github.repository }}
        uses: macbre/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
